<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="col-md-12">
			<div class="col-md-12">
				<h3>Bet {{bet}} Win {{bet}}</h3>
				<div id="bet" class="slider slider-material-blue"></div>
			</div>
		</div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" id="cancel"><span class="fa fa-circle-o"> No</span></button>
	<button class="btn btn-success" id="save"><span class="fa fa-check-circle-o"> Bet</span></button>
</div>
