<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="container-fluid">
            <div class="form-group">
                <h3>What's your status</h3>
                <input id="status" type="text" class="form-control" placeholder="Status">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" id="cancel"><span class="fa fa-ban"></span> Cancel</button>
    <button class="btn btn-primary" id="save"><span class="fa fa-circle-o"></span> Update</button>
	<button class="btn btn-success" id="reached"><span class="fa fa-check-circle-o"></span> Score</button>
</div>
