<div class="form-group">
	<div class="input-group">
		<input id="{{status}}" type="text" class="form-control">
		<span class="input-group-btn btn-group-flat">
			<button id="update" class="btn btn-material-blue-500"><span class="fa fa-circle-thin"></span> Update</button>
		</span>
	</div>
</div>
