<div class="modal-body modal-sm">
	<div class="caption">
		<h5>Phone</h5>
		<h5><small>Add a phone number</small></h5>
		<input id="phone" type="text" class="form-control active" placeholder="Phone">
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" id="cancel">Cancel</button>
	<button class="btn btn-primary" id="next">Next <span class="fa fa-play"/></button>
</div>
