<div class="col-md-12">
	<h5>Verify Phone</h5>
	<h5><small>Verify phone number</small></h5>
</div>
<div class="col-md-10">
	<input id="code" type="text" class="form-control active" placeholder="Verification Code">
</div>
<div class="col-md-2">
	<button class="btn btn-primary" id="verify">Confirm <span class="fa fa-thumbs-o-up"/></button>
</div>
