<div class="container-fluid thumbnail">
	<div class="caption">
		<h5>Phone</h5>
		<input id="phone" type="text" class="form-control" placeholder="Phone">
		<button id="add" type="button" class="btn btn-default navbar-btn"><span class="fa fa-plus-circle"></span> Add</button>
	</div>
</div>