<div class="modal-body">
	<div class="row">
		<div class="col-md-6 col-xs-6">
			<div id="profileRegion" class="container-fluid thumbnail"></div>
		</div>
		<div class="col-md-6 col-xs-6">
			<div id="accountRegion"></div>
			<div id="suggestButtonRegion" class="pull-right"></div>
		</div>
	</div>
	<div class="row">
		<div id="postRegion"></div>
	</div>
</div>


