  #slider .sample1, #slider .sample2 {
    padding: 20px 0;
    background-color: #f0f0f0;
    margin-bottom: 20px;
  }
  #slider .sample2 {
    height: 150px;
  }
  #slider .sample2 .slider {
    margin: 0 40px;
  }
  #slider h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
  #slider .slider {
    margin: 15px;
  }