<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<image src='/images/logo.png' class='img-circle' height='25' width='25'></image>
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#"><span class="fa fa-home"/> Home</a>
				</li>
				<li>
					<a href="#suggestion"><span class="fa fa-lightbulb-o"/> Suggestion</a>
				</li>
				<li>
					<a href="#notification"><span class="fa fa-bell"/> Notification</a>
				</li>
			</ul>

			<div class="container-fluid pull-right">

			<div id="suggestionApp" class="btn-group">
			</div>


			<div class="btn-group">
				<a href="{{hostUrl "/registration/signout"}}" class="btn btn-danger btn-xs navbar-btn pull-right"><span class="fa fa-sign-out"></span> Sign Out</a>
			</div>
		</div>
	</div>
  </div>
</nav>