/* CSS used here will be applied after bootstrap.css */

.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

/* CSS used here will be applied after bootstrap.css */

.dropdown {
    display:inline-block;
    margin-left:20px;
    padding:10px;
  }

.notifications {
   min-width:220px;
    text-align: center;
  }

  .notifications-wrapper {
     overflow:auto;
      max-height:250px;
    }

 .menu-title {
     color:#ff7788;
     font-size:1.5rem;
      display:inline-block;
      }

.glyphicon-circle-arrow-right {
      margin-left:10px;
   }


 .notification-heading, .notification-footer  {
 	padding:2px 10px;
       }


.dropdown-menu.divider {
  margin:5px 0;
  }

.item-title {

 font-size:1.3rem;
 color:#000;

}

.notifications a.content {
 text-decoration:none;
 background:#ccc;

 }

.notification-item {
 padding:10px;
 margin:5px;
 background:#ccc;
 border-radius:4px;
 }



