<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<image src='/images/logo.png' class='img-circle' height='25' width='25'></image>
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div id="menuApp">
			</div>

			<div class="container-fluid pull-right">

				<div id="suggestionApp" class="btn-group"></div>
				<div class="col-md-3 text-center">
					<div id="accountApp"></div>
				</div>
				<div class="col-md-3 text-center">
					{{profileImageOfSize 'my' 60}}
				</div>
				<div class="col-md-3">
					<div class="btn-group">
						<a href="{{hostUrl "/registration/signout"}}" class="btn btn-material-blue-100 btn-xs navbar-btn pull-right"><span class="fa fa-sign-out"></span> Sign Out</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>