<form>
	<label for="country">Country</label>
	<input id="country" type="text">
	<label for="nickName">Nick</label>
	<input id="nickName" type="text">
	<label for="firstName">First Name</label>
	<input id="firstName" type="text">
	<label for="lastName">Last Name</label>
	<input id="lastName" type="text">
	<label for="gender">Gender</label>
	<input id="gender" type="text">
	<label for="birthDate">Birth Date</label>
	<input id="birthDate" type="text">
	<label for="imageUrl">Image</label>
	<input id="imageUrl" type="text">
</form>
