<div layout="column">
	<md-content class="md-padding">
		<form ng-submit="$event.preventDefault()">
			<md-autocomplete
				ng-disabled="ctrl.isDisabled"
				md-no-cache="ctrl.noCache"
				md-selected-item="ctrl.selectedItem"
				md-search-text="ctrl.searchText"
				md-selected-item-change="ctrl.selectedItemChange(item)"
				md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
				md-item-text="item.fullName"
				md-items="item in ctrl.querySearch(ctrl.searchText)"
				ng-model="model.search"
				placeholder="Search people">

				<md-item-template>
					<cl-player-image player="\{{item.player}}" size="small"></cl-player-image>
					<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">\{{item.fullName}}</span>
				</md-item-template>
			</md-autocomplete>
		</form>
	</md-content>
</div>