<div id="error" class="alert alert-danger" role="alert" hidden></div>
<br/>
<div class="form-control-wrapper">
	<h4>Challenge your friend</h4>
	<input id="goal" type="text" class="form-control" data-hint="What's your goal this week" placeholder="What is his challenge">
	<div class="hint">Use # to be part of the trend</div>
	<span class="material-input"></span>
</div>