<div class="modal-body" class="width: 800px">
	<div id="goalRegion"></div>
	<br/>
	<div id="configurationRegion"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" id="save">Go</button>
</div>
