<div class="modal-body" class="width: 800px">
	<div id="goalRegion"></div>
	<br/>
	<div id="configurationRegion"></div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" id="cancel">Cancel</button>
	<button class="btn btn-primary" id="save">Go <span class="fa fa-play"/></button>
</div>
