<div class="input-group">
	<span class="input-group-addon"><span class="fa fa-bullseye"></span></span>
	<input id="goal" class="form-control" type="text" placeholder="Goal">
</div>
<br/>
<div class="input-group">
	<span class="input-group-addon"><span class="fa fa-beer"></span></span>
	<input id="reward" class="form-control" type="text" placeholder="Reward">
</div>