<div id="passwordApp" ng-app="registration">
	<div>
	</div>

	<div layout="row" layout-margin>
		<div flex flex-order="3" hide-sm>
		</div>
		<div flex flex-order="2">
			<md-content class="md-padding">
				<md-tabs md-dynamic-height md-border-bottom>
					<md-tab label="login">
						<md-content class="md-padding">
							<cl-social-login></cl-social-login>
							<div layout-aling="center center" class="small" style="text-align: center;">
								<h2 class="md-subhead">or continue with email</h2>
							</div>
							<cl-login></cl-login>
							<div layout-aling="center center" class="small" style="text-align: center;">
								Creating an account means you’re okay with</br>
								Clemble's Terms of Service and Privacy Policy.
							</div>
						</md-content>
					</md-tab>
					<md-tab label="signin">
						<md-content class="md-padding">
							<cl-social-login></cl-social-login>
							<div layout-aling="center center" class="small" style="text-align: center;">
								<h2 class="md-subhead">or</h2>
							</div>
							<cl-signup></cl-signup>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-content>
			<div layout="column" layout-marin></div>
		</div>
		<div flex flex-order="1" hide-sm>
		</div>
	</div>
</div>

