<div ng-app="registration-restore">
	<div layout="row" layout-margin>
		<div flex flex-order="3" hide-sm>
		</div>
		<div flex flex-order="2">
			<md-content class="md-padding">
				<cl-registration-restore></cl-registration-restore>
			</md-content>
		</div>
		<div flex flex-order="1" hide-sm>
		</div>
	</div>
</div>