<div class="thumbnail container-fluid">
    <div class="caption">
	    <h4>
			Set your next <button id="add" type="button" class="btn btn-success btn-xs"><span class="fa fa-bullseye"/> goal</button>
		</h4>
        <div id="content">
        </div>
    </div>
</div>
