<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="container-fluid">
            {{#each roleConfigurations}}
                <h4>{{role}}</h4>
                <h5>{{money bid.amount}}/<small>{{money bid.interest}}</small></h5>
                <h5>Reminders</h5>
                {{showReminders this}}
            {{/each}}
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" id="no"><span class="fa fa-circle-o"> Cancel</span></button>
	<button class="btn btn-success" id="yes"><span class="fa fa-check-circle-o"> Bet</span></button>
</div>
