<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="container-fluid">
            <div class="form-group">
                <h2>{{money amount}}/<small>{{money interest}}</small></h2>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-circle" id="no"><span class="fa fa-2x fa-thumbs-o-down"></span></button>
	<button class="btn btn-success btn-circle" id="yes"><span class="fa fa-2x fa-thumbs-o-up"></span></button>
</div>
