<div class="modal-body">
	<!--<div class="row container-fluid">-->
		<div id="goalRegion"></div>
		<div id="configurationRegion">
		</div>
	<!--</div>-->
</div>
<div class="modal-footer">
	<button class="btn btn-primary" id="save">Save</button>
</div>
