<h1>What's your goal?</h1>
<div id="error" class="alert alert-danger" role="alert" hidden></div>
<input id="goal" class="form-control" type="text">
<label for="startDate">Start Date</label>
<input id="startDate" class="form-control" type="date">