<div class="col-md-12 thumbnail">
	<h5>Hero</h5>
	It's you. The one who is putting an effort in reaching a goal. You'll need to do daily updates (We'll send you notifications, if you forget). If you reach your goal, you'll receive a bonus.
	<h5>Supporter</h5>
	Someone, who believes and wants to support you in your resolution. (S)he'll get notifications when you are falling behind on your schedule, so he could push you to success.
	<h5>Observer</h5>
	Someone, who believes in you, and trusts, that you'll be able to reach your task.
</div>