<div id="error" class="alert alert-danger" role="alert" hidden></div>
<br/>
<div class="form-control-wrapper">
	<h4>Challenge yourself</h4>
	<input id="goal" type="text" class="form-control" placeholder="Enter your next week achievement">
	<div class="hint">Use # to be part of the trend</div>
	<span class="material-input"></span>
</div>