<div id="error" class="alert alert-danger" role="alert" hidden></div>
<br/>
<div class="form-control-wrapper">
	<input id="goal" type="text" class="form-control" data-hint="What's your goal for this week" placeholder="What is your goal for this week">
	<div class="hint">Use # to be part of the trend</div>
	<div class="floating-label">Challenge yourself</div>
	<span class="material-input"></span>
</div>