<div id="error" class="alert alert-danger" role="alert" hidden></div>
<br/>
<div class="input-group col-md-12">
	<input id="goal" class="form-control" type="textarea" placeholder="What's your goal for this week"/>
</div>