<div>
	<h3><small>Bid</small></h3>
	<label class="label label-primary">Risk <span class="fa fa-usd"></span> {{this.amount.amount}}</label>
	<label class="label label-success">Win <span class="fa fa-usd"></span> {{this.interest.amount}}</label>
</div>
