<div>
	<div class="row">
		<image src="/player/profile/{{player}}/image/small" class="img-thumbnail pull-left" style="width: 48px; height: 48px;"></image>
		{{goal}}
	</div>
	<div class="row">
		<div class="btn-group btn-group-xs">
			<button class="btn btn-primary" id="accepted">Accept</button>
			<button class="btn btn-default" id="declined">Decline</button>
		</div>
	</div>
</div>