<div class="thumbnail">
	<image src="/player/profile/{{player}}/image/small" class="img-thumbnail" style="width: 48px; height: 48px;"></image>
	{{goal}}
	{{#is status "pending"}}<span class="label label-default">Pending</span>{{/is}}
	{{#is status "accepted"}}<span class="label label-success">Accepted</span>{{/is}}
	{{#is status "declined"}}<span class="label label-danger">Declined</span>{{/is}}
</div>