<div class="thumbnail container-fluid">
    <div class="caption">
        <h4>Account</h4>
        {{#each money}}
            <h4 class="pull-right">{{money this}}</h4>
        {{/each}}
    </div>
</div>
