<div class="col-md-offset-3 col-md-6">
	<div id="socialConnectApp"></div>
	<div id="tagApp"></div>
	<div id="passwordApp" ng-app="settings.password">
		<div class="thumbnail">
			<h4>Password</h4>
			<form name="passwordForm" ng-controller="SettingsPasswordController as password" novalidate>
				<div class="form-group" >
					<input class="form-control"
						name="oldPassword"
						placeholder="Old Password"
						ng-model="password.m.oldPassword"
						type="password">
				</div>
				<div class="form-group" >
					<input class="form-control"
						name="newPassword"
						placeholder="New Password"
						type="password"
						ng-model="password.m.password"
						required>
					<div ng-show="passwordForm.$submitted">
						<span ng-show="passwordForm.newPassword.$error.required" class="error">Specify new password</span>
					</div>
				</div>
				<div class="form-group" >
					<input class="form-control"
						name="newPasswordRepeat"
						ng-model="password.newPasswordRepeat"
						match="password.m.password"
						required
						placeholder="Repeat New Password"
						type="password">
					<div ng-show="passwordForm.$submitted">
						<span ng-show="passwordForm.newPasswordRepeat.$error.required">Repeat password please</span>
						<span ng-show="passwordForm.newPasswordRepeat.$error.match">Do not match</span>
					</div>
				</div>
				<button class="btn btn-lg" ng-click="password.changePassword()">\{{password.saveButton}}</button>
			</form>
		</div>
	</div>
</div>