<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="container-fluid">
            <div class="form-group">
                <h3>Have you reached your goal?</h3>
                <input id="status" type="text" class="form-control" placeholder="Status">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" id="cancel"><span class="fa fa-ban"></span> Not Yet</button>
    <button class="btn btn-material-blue-500" id="save"><span class="fa fa-circle-o"></span> Approve</button>
</div>
