<div class="modal-body">
	<div class="container-fluid">
		<div class="row">
			You are going to be an OBSERVER for
			<h4>{{goal}}</h4>
			<h4>Reminders {{showReminders configuration.observerConfiguration}}</h4>
		</div>
		<div class="pull-right">
			<button class="btn btn-default" id="cancel">Cancel</button>
			<button class="btn btn-primary" id="go">Go <span class="fa fa-play"/></button>
		</div>
	</div>
</div>
