<div class="form-group">
	<input id="emailOrNickName" type="text" class="form-control" placeholder="Email or Nick">
	<span class="help-block hidden"/>
</div>
<div class="form-group">
	<input id="password" class="form-control" type="password" placeholder="Password">
	<span class="help-block hidden"/>
</div>

