<div class="form-group">
	<input id="email" type="email" class="form-control" placeholder="Email">
	<span class="help-block hidden"/>
</div>
<div class="form-group">
	<input id="password" class="form-control" type="password" placeholder="Password">
	<span class="help-block hidden"/>
</div>

