<h4><small>Login</small></h4>
<span class="help-block hidden"></span>
<div class="form-group">
	<input id="email" type="email" class="form-control" placeholder="Email">
	<span class="help-block hidden"></span>
</div>
<div class="form-group">
	<input id="password" class="form-control" type="password" placeholder="Password">
	<span class="help-block hidden"></span>
</div>
<div class="form-group">
	<button id="signIn" class="btn btn-warning form-control">Login</button>
</div>

