<div class="container-fluid thumbnail">
	<div class="caption">
        <h5>Profile</h5>
		<p>
			{{myImage}}
			{{#if nickName}}<h4><small>@{{nickName}}</small></h4>{{/if}}
			{{#if firstName}}<h4>{{firstName}} {{lastName}}</h4>{{/if}}
		</p>
	</div>
</div>

