<div id="passwordApp" ng-app="registration.login">
	<form name="form" ng-controller="RegistrationLoginController as login" novalidate>
		<md-content>
			<md-input-container>
				<label>Email</label>
				<input ng-model="login.model.emailOrNickName" type="email" required>
			</md-input-container>
			<md-input-container>
				<label>Password</label>
				<input ng-model="login.model.password" type="password" required>
			</md-input-container>
		</md-content>
		<section layout="row" layout-sm="column" layout-align="center center">
			<md-button class="md-raised md-primary" ng-click="login.save(model)">Sign In</md-button>
			<md-button class="md-primary" ng-href="#registration/signUp">Join</md-button>
		</section>
	</form>
</div>

