<div class="row-picture">
	{{profileImageOfSize suggestion.player 60}}
</div>
<div class="row-content">
	<i id="delete" class="fa fa-times-circle-o pull-right"></i>
	<h4><span class="label label-success">Suggestion > {{suggestion.state}}</span></h4>
	<h4>{{suggestion.goal}}</h4>
</div>
