<div class="row-picture">
	{{profileImageOfSize source.player 60}}
</div>
<div class="row-content">
	<i id="delete" class="fa fa-2x fa-times-circle-o pull-right"></i>
	<h4><span class="label label-danger">-{{amount.amount}}</span> Lost</h4>
	<h5>{{source.goal}}</h5>
</div>
