<div class="container-fluid">
	<div class="row">
		<h5>Invitation</h5>
		<div class="col-md-4">
			{{profileImage connection}}
		</div>
		<div class="col-md-8">
			<div class="btn-group">
				<button class="btn btn-success" id="accept"><span class="fa fa-check-circle-o"></span></button>
				<button class="btn btn-info" id="decline"><span class="fa fa-circle-o"></span></button>
			</div>
		</div>
	</div>
</div>