<hr/>
<div class="container-fluid">
	<div class="col-md-2 col-xs-4">
		{{smallProfileImage connection}}
	</div>
	<div class="col-md-10 col-xs-8">
		<h5>Invitation</h5>
		<div class="btn-group">
			<button class="btn btn-success" id="accept"><span class="fa fa-check-circle-o"></span></button>
			<button class="btn btn-info" id="decline"><span class="fa fa-circle-o"></span></button>
		</div>
	</div>
</div>