<div class="row-picture">
	{{smallProfileImage connection}}
</div>
<div class="row-content">
	<h5>Wants to connect</h5>
	<h4><span class="label label-success" id="accept"><span class="fa fa-check-circle-o"></span> Yeap</span> <span class="label label-danger" id="decline"><span class="fa fa-circle-o"></span> Nope</span></h4>
</div>