<div class="btn-group">
	<div class="dropdown btn-group-xs">
		<a role="button" data-toggle="dropdown" data-target="#" class="btn btn-primary btn-xs navbar-btn">
			<span class="fa fa-bell"></span> <span class="badge">{{childrenLength}}</span>
		</a>

		<ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
			<div class="notifications-wrapper">
				<div id="caption">
				</div>
			</div>
		</ul>
	</div>
</div>