<hr/>
<div class="container-fluid">
	<div class="col-md-6">
		{{smallProfileImage connection}}
	</div>
	<div class="col-md-6">
		<i id="delete" class="fa fa-times-circle-o pull-right"></i>
		<h5>connected</h5>
	</div>
</div>

