<hr/>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<div>
				{{smallProfileImage player}}
			</div>
		</div>
		<div class="col-md-8">
			<h5>Connected</h5>
		</div>
		<div class="col-md-2">
			<div>
				{{smallProfileImage connection}}
			</div>
		</div>
	</div>
</div>

