<form class="form-horizontal" role="form">
	<div class="form-group">
		<div class="col-md-4">
			<input id="nickName" type="text" class="form-control" placeholder="Username">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-4">
			<input id="fullName" type="text" class="form-control" placeholder="Full Name">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-4">
			<input id="gender" type="text" class="form-control" placeholder="Gender">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-4">
			<input id="birthDate" type="text" class="form-control" placeholder="Birth Date">
		</div>
	</div>
</form>
