<div class="form-group">
	<input id="nickName" type="text" class="form-control" placeholder="Username">
	<span class="help-block hidden"/>
</div>
<div class="form-group">
	<input id="fullName" type="text" class="form-control" placeholder="Full Name">
	<span class="help-block hidden"/>
</div>
<div class="form-group">
	<span class="help-block hidden"/>
	<div class="btn-group-flatten" data-toggle="buttons">
		<label class="btn btn-primary">
			<input type="radio" name="gender" value="M" autocomplete="off" checked> <span class="fa fa-male"></span>
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="gender" value="F" autocomplete="off"> <span class="fa fa-female"></span>
		</label>
	</div>
</div>
