<div class="container-fluid">
	<div class="row">
		<div data-countdown="{{startDate}}"></div>
		{{goal}}<br/>
		{{bid bank.total}}
		<button id="confirm" class="btn btn-circle btn-success"><span class="fa fa-rocket"></span></button>
	</div>
</div>
