<div class="container-fluid">
	<h5><small>Starts on</small> {{formatDate startDate "%d/%m %H:%M:%S"}}</h5>
	{{goal}}<br/>
	{{money configuration.bid.amount}} {{money configuration.bid.interest}}
</div>
