<div class="container-fluid">
	{{formatDate startDate "%d/%m"}} {{goal}}<br/>
	<span class="fa fa-credit-card"></span> {{money configuration.bid.amount}}/<small>{{money configuration.bid.interest}}</small>
</div>
