<div class="container-fluid">
	{{formatDate startDate "%d/%m"}} {{goal}}<br/>
	{{bid bank.total}}
	<button id="confirm" class="btn btn-circle btn-success"><span class="fa fa-rocket"></span></button>
</div>
