<h1><small>What's your status?</small></h1>
<div class="col-md-5">
	<input id="status" class="form-control" type="text">
</div>
<div class="col-md-3">
	<button id="save" class="btn btn-success">Update</button>
</div>