<h1><small>What's your status?</small></h1>
<div class="col-md-7">
	<input id="status" class="form-control" type="text">
</div>
<div class="col-md-2">
	<button id="save" class="btn btn-success">Update</button>
</div>