<div class="col-md-9">
	<h3>A goal is a dream with a deadline.</h3>
	<ul>
		<li>Reach your dreams.</li>
		<li>Help others, to reach theirs.</li>
		<li>Harness your potential</li>
		<li>And most importantly, have fun.</li>
	</ul>
</div>
<div class="pull-right col-md-3">
	<div class="row">
		<div id="social">
		</div>
	</div>
	<div class="row" id="signIn">
	</div>
	<div class="pull-left">
		<a href="#signUp">Sign Up</a>
	</div>
	<div class="pull-right">
		<a href="#signUp">Forgot Password</a>
	</div>
</div>