<div class="container-fluid">
	<div class="col-md-offset-1 col-md-6 col-sm-6">
		<h2><b>Welcome to Clemble.</b></h2>
		<br/>
		<h4>
			The only person that can change your life - is you.<br/>
			You are the champion of your soul.<br/>
			Live up to your potential and never give up.<br/>
			<br/>
			We'll help.
		</h4>
	</div>
	<div class="col-md-4 col-sm-6">
		<div id="social">
		</div>
		<div id="signIn">
		</div>
		<div class="btn-group pull-right">
				<a href="#registration/signUp" class="btn btn-xs btn-warning">Sign Up</a>
				<a href="#registration/restore" class="btn btn-xs btn-info">Forgot Password</a>
		</div>
	</div>
</div>
