<div class="col-md-8 col-md-offset-2">
	<div class="row">
		<h1>What's your goal for this day?</h1>
		<input id="goal" class="form-control" type="text">
	</div>
	<div class="row">
		<h1>Who is your judge?</h1>
		<input id="judge" class="form-control col-md-2" type="text" value="me">
	</div>
	<div class="row">
		<br/>
		<a id="save" class="btn btn-default pull-right">Next</a>
	</div>
</div>
