<h4>Bid Rules</h4>
<div id="bidRuleRegion"/>
<h4>Total Timeout Rules</h4>
<div id="deadlineRuleRegion"/>
<h4>Move Timeout Rules</h4>
<div id="updateRuleRegion"/>
<div id="emailReminderRuleRegion"/>
<div id="phoneReminderRuleRegion"/>
<div id="supporterRuleRegion"/>
<div id="observerRuleRegion"/>
<div id="privacyRuleRegion"/>
<div id="shareRuleRegion"/>