<md-content>
	<div layout="row" layout-wrap>
		<div flex="25" hide-sm hide-md>
		</div>
		<div flex>
			<cl-profile player="my"></cl-profile>
		</div>
		<div flex="25" hide-sm hide-md>
		</div>
	</div>
</md-content>
