<div class="container-fluid thumbnail">
	<div class="caption">
		<h5>Help</h5>
		<h4><span class="label label-success label-lg">Update Deadline</span></h4>
		<h4><span class="label label-warning">Goal Dealine</span></h4>
		<h4><span class="label label-success label-lg"><span class="fa fa-credit-card"></span></span> - <small>bid on a goal</small></h4>
		<h4><span class="fa fa-rocket"></span> - <small>start right away</small></h4>
		<h4><span class="fa fa-lightbulb-o"></span> - <small>suggest a goal for a friend</small></h4>
	</div>
</div>
