<div ng-controller="RegistrationSocialController as social" ng-app="registration.login">
	<section layout="row" layout-align="center center">
		<md-button class="md-fab md-primary" aria-label="Continue with facebook" ng-click="loginFacebook()">
			<md-icon md-font-icon="fa fa-2x fa-facebook"></md-icon>
		</md-button>
		<md-button class="md-fab md-primary" aria-label="Continue with twitter" ng-click="loginTwitter()">
			<md-icon md-font-icon="fa fa-2x fa-twitter"></md-icon>
		</md-button>
		<md-button class="md-fab md-primary" aria-label="Continue with Google Plus" ng-click="loginGoogle()">
			<md-icon md-font-icon="fa fa-2x fa-google-plus"></md-icon>
		</md-button>
	</section>
	<section layout="row" layout-align="center center">
		<md-button class="md-fab md-primary md-mini" aria-label="Continue with LinkedIn" ng-click="loginLinkedIn()">
			<md-icon md-font-icon="fa fa-2x fa-linkedin"></md-icon>
		</md-button>
		<md-button class="md-fab md-primary md-mini" aria-label="Continue with VK" ng-click="loginVK()">
			<md-icon md-font-icon="fa fa-2x fa-vk"></md-icon>
		</md-button>
	</section>
</div>
