<div class="col-md-12 container">
	<a class="btn btn-xs btn-danger pull-right" href="{{hostUrl "/registration/signout"}}"> <span class="fa fa-sign-out"></span> Sign Out</a>
	<br/>
	<br/>
</div>
<div class="col-md-3">
	<div id="profileApp"></div>
	<div id="accountApp"></div>
	<div id="socialConnectApp"></div>
    <div id="tagApp"></div>
</div>
<div class="col-md-6">
	<div id="mainApp"></div>
	<div id="suggestionApp"></div>
	<div id="feedApp"></div>
</div>
<div class="col-md-3">
	<div id="helpApp"></div>
	<div id="notificationApp"></div>
	<div id="connectionApp"></div>
</div>
