<div class="col-md-3">
	<div id="profileApp"></div>
	<div id="accountApp"></div>
	<div id="initiationApp"></div>
</div>
<div class="col-md-6">
	<div id="mainApp"></div>
	<div id="feedApp"></div>
</div>
<div class="col-md-3">
	<div id="notificationApp"></div>
	<div id="connectionApp"></div>
</div>
