<div class="col-md-3 hidden-xs">
</div>
<div class="col-md-6 col-xs-12 col-sm-12 thumbnail">
	<div id="newGoalApp"></div>
	<div id="mainApp"></div>
	<div id="feedApp"></div>
</div>
<div class="col-md-3 hidden-xs">
	<div id="connectionApp"></div>
</div>
