<div class="col-md-2"> </div>
<div class="col-md-8">
	<div class="col-md-6">
		<div id="social">
		</div>
		<span class="help-block hidden"/>
		<div id="signIn">
		</div>
	</div>
	<div class="col-md-6">
		<div id="login">
		</div>
		<div id="profile">
		</div>
		<div id="control">
		</div>
	</div>
</div>
