<div class="col-md-offset-4 col-md-4">
	<h4>Find your Clemble account</h4>
	<h5>Enter your email</h5>
	<div class="form-group">
		<span class="help-block hidden"/>
		<input id="email" type="restore" class="form-control" placeholder="Email">
	</div>
	<button id="restore" class="btn btn-info">Restore</button>
</div>

