<div class="row">
	<h2><small>Your GOAL</small></h2>
	<h1>{{goal}}</h1>
</div>
<div class="row">
	<h2><small>Time Spent</small></h2>
	<h2><div id="timeSpent" class="clock"></div></h2>
	<h2><small>Time Left</small></h2>
	<h2><div id="timeLeft" class="clock"></div></h2>
</div>