<div class="col-md-2">
	<div id="profileRegion"></div>
</div>
<div class="col-md-8">
	<div class="row">
		<div id="detailsRegion"></div>
	</div>
	<div class="row">
		<div id="statusRegion"></div>
	</div>
</div>
<div class="col-md-2">
	<div id="bidRegion"></div>
	<div id="invitationRegion"></div>
</div>
