<hr/>
<div class="container-fluid">
	<div class="col-md-2">
		<div>
			{{smallProfileImage suggester}}
		</div>
	</div>
	<div class="col-md-10">
		<b>{{humanTime configuration.totalTimeRule.limit}}</b><br/>
		{{goal}}<br/>
		{{bid configuration.bid}}<br/>
	</div>
</div>
