<hr/>
<div class="container-fluid">
	<div class="col-md-2">
		<div>
			{{smallProfileImage suggester}}
		</div>
	</div>
	<div class="col-md-10">
		<b>{{timeoutRule configuration.totalTimeoutRule}}</b> {{bet configuration.bid}}<br/>
		<h5>{{goal}}</h5>
	</div>
	<div class="col-md-12 row">
		<div class="btn-group">
			<button class="btn btn-success" id="accept"><span class="fa fa-check-circle-o"></span> Go</button>
			<button class="btn btn-info" id="decline"><span class="fa fa-circle-o"></span> Nah</button>
		</div>
	</div>
</div>
