<div class="modal-body" class="width: 800px">
	<div id="goalRegion"/>
	<div class="container-fluid">
	<div id="configurationRegion"/>
		<div class="col-md-3 col-xs-6 pull-right">
			<button class="btn btn-primary" id="save">Go</button>
		</div>
	</div>
</div>
