<md-list-item class="md-2-line" ng-repeat="item in todos">
	<cl-player-image player="\{{invitation.player}}" size="small"></cl-player-image>
	<div class="md-list-item-text">
		<h3>\{{ invitation.from }}</h3>
		<p>\{{ invitation.text }}</p>
	</div>
</md-list-item>
<cl-player-image player="\{{invitation.player}}" size="small"></cl-player-image>