<h4>Social Sign In</h4>
<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-lg btn-primary" signin="facebook"><i class="fa fa-facebook"></i></button>
	<button type="button" class="btn btn-lg btn-primary" signin="twitter"><i class="fa fa-twitter"></i></button>
	<button type="button" class="btn btn-lg btn-primary" signin="vkontakte"><i class="fa fa-vk"></i></button>
</div>