<h4><small>Social Sign In</small></h4>
<form class="col-md-2" role="form" action="//api.{{host}}/social/signin/facebook" method="post">
	<button class="btn btn-block btn-circle btn-facebook">
		<i class="fa fa-facebook"></i>
	</button>
</form>
<form class="col-md-2" role="form" action="//api.{{host}}/social/signin/vkontakte" method="post">
	<button class="btn btn-block btn-circle btn-vk">
		<i class="fa fa-vk"></i>
	</button>
</form>

