<h4>Social Sign In</h4>
<div class="btn-group" role="group" aria-label="...">
	<button type="button" class="btn btn-lg btn-primary" signin="facebook"><i class="fa fa-2x fa-facebook"></i></button>
	<button type="button" class="btn btn-lg btn-primary" signin="twitter"><i class="fa fa-2x fa-twitter"></i></button>
	<button type="button" class="btn btn-lg btn-primary" signin="vkontakte"><i class="fa fa-2x fa-vk"></i></button>
	<button type="button" class="btn btn-lg btn-primary" signin="google"><i class="fa fa-2x fa-google-plus-square"></i></button>
</div>