<div class="modal-body" class="width: 800px">
	<div class="form-group">
		<input id="player" type="text" class="form-control" placeholder="Player">
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" id="save">Connect <span class="fa fa-play"/></button>
</div>

