<div class="thumbnail container-fluid">
    <div class="caption">
        <h5>Friends</h5>
        <div id="content">
        </div>
    </div>
    <button id="connect" type="button" class="btn btn-default navbar-btn"><span class="fa fa-users"></span> Connect</button>
</div>
