<hr/>
<div class="container-fluid">
	<div class="col-md-9">
		{{smallProfileImage player}}
	</div>
	<div class="col-md-3">
		<a id="suggest" class="btn" data-toggle="tooltip" data-placement="top" title="Suggest a new goal for the user"><span class="fa fa-lightbulb-o fa-2x"></span></a>
	</div>
</div>