<div class="thumbnail container-fluid">
    <div class="caption row">
        <h5>Friends</h5>
        <div id="content" class="col-md-12">
        </div>
    </div>
    <div class="col-md-12">
        <button id="connect" type="button" class="btn btn-default navbar-btn"><span class="fa fa-users"></span> Connect</button>
    </div>
</div>
