<div class="thumbnail container-fluid">
    <div class="caption">
        <button id="connect" type="button" class="btn btn-primary navbar-btn"><span class="fa fa-users"></span> Connect</button>
        <div id="content">
        </div>
    </div>
</div>
