<hr/>
<div class="container-fluid">
	<div class="col-md-6">
		{{smallProfileImage player}}
	</div>
	<div class="col-md-6">
		<a id="suggest" class="btn"><span class="fa fa-lightbulb-o fa-2x"></span> Suggest</a>
	</div>
</div>