<hr/>
<div class="container-fluid">
	<div class="col-md-4">
		{{smallProfileImage player}}
	</div>
	<div class="col-md-8">
		<button id="suggest" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Suggest a new goal for the user"><span class="fa fa-lightbulb-o"></span> Suggest</button>
	</div>
</div>