<div id="passwordApp" ng-app="registration">
	<div layout="row" layout-margin>
		<div flex flex-order="3" hide-sm>
		</div>
		<div flex flex-order="2">
			<cl-social-login></cl-social-login>
			<br/>
			<div layout-aling="center center" class="small" style="text-align: center;">
				Creating an account means you’re okay with</br>
				Clemble's Terms of Service and Privacy Policy.
			</div>
		</div>
		<div flex flex-order="1" hide-sm>
		</div>
	</div>
</div>

