<div class="modal-body">
	<form class="form-horizontal" role="form">
		<div class="container-fluid">
			<div class="form-group">
				<blockquote>
				<p>Success is not final, failure is not fatal: it is the courage to continue that counts.</p>
				<footer>Winston S. Churchill</footer>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" id="cancel"><span class="fa fa-ban"></span> Not yet</button>
	<button class="btn btn-primary" id="save"><span class="fa fa-remove"></span> Next Time</button>
</div>
